<!DOCTYPE html>
<html lang="en">

    <head>
        {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>SeekGen</title>

        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
        <script type="text/javascript" src="{{url_for('static', filename='js/scripts.js')}}"></script>
        {% endblock head %}
    </head>

    <body>
    <h1>Welcome to the SeekGen tool!</h1>
    {% block predictions %}{% endblock predictions %}
    </body>

    <div id="footer">
        &copy; 2019 by A & A
    </div>

</html>